<h2>Sign up</h2>

<%= form_for @gmail, url: new_gmail_registration_path do |f| %>
  <% if @gmail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gmail.errors.count, "error") %> prohibited this gmail from being saved:</h2>
      <ul>
        <% @gmail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, value: @gmail.email, required: true %>
  </div>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name, value: @gmail.full_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :avatar_url %><br>
    <%= f.text_field :avatar_url, value: @gmail.avatar_url, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create Account" %>
  </div>
<% end %>
