<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<h1>Your Student Profile</h1>
<%= render @student %>

<div>
  <% if @current == @student %>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <% end %>

  <% if @current == @student %>
  <%= button_to "Destroy this student", @student, method: :delete %>
  <% end %>
</div>
