<div id="<%= dom_id experience %>">
  <p>
    <strong>Title:</strong>
    <%= experience.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= experience.experience_type %>
  </p>

  <p>
    <strong>Date interval:</strong>
    <%= experience.date_interval %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= experience.description %>
  </p>

  <p>
    <strong>Recepient uin:</strong>
    <%= experience.recepient_uin %>
  </p>

</div>
