<div id="<%= dom_id alumnus %>">
  <p>
    <strong>Uin:</strong>
    <%= alumnus.uin %>
  </p>

  <p>
    <strong>Cohort year:</strong>
    <%= alumnus.cohort_year %>
  </p>

  <p>
    <strong>Team affiliation:</strong>
    <%= alumnus.team_affiliation %>
  </p>

  <p>
    <strong>Profession title:</strong>
    <%= alumnus.profession_title %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= alumnus.availability %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= alumnus.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= alumnus.phone_number %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= alumnus.biography %>
  </p>

</div>
