<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="admin-namespace">
    <header class="admin-header">
      <!-- Admin navigation or header content -->
    </header>
    
    <main class="admin-content">
      <%= yield %>
    </main>
    
    <footer class="admin-footer">
      <!-- Admin footer contentt -->
    </footer>
  </body>
</html>